// Large sscreens
// 1200px / 16px = 75em
$lg: 75em; // $lg: 1200px;
// medium screens
// $md: 992px;
$md: 62em; // 992px / 16px = 62em
// small screens
// $sm: 768px;
$sm: 48em; // 768px / 16px = 48em
// extra smaall screens
// $xsm: 576px;
$xsm: 36em; // 576px / 16px = 36em
